/* ################################################## */
/* ########### Global classes / overrides ########### */
/* ################################################## */
html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 0;
}

/* Fonts, classes are so I can reuse the styles on a variety of elements */
.merriweather { font-family: 'Merriweather', serif; }
      .oswald { font-family: 'Oswald', sans-serif; }
        .lato { font-family: 'Lato', sans-serif; }

/* Colors */
/* Dark yellow: #f2ff00 */
/* Lighter yellow: #ffd900 */
/* Light gray: #adadad */
/* Medium gray: #878787 */

a:link {
  text-decoration: none;
}
/* Background Image */
/* https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg */

.cta {
  border-radius: 10px;
  color: black;
  font-size: 24px;
  text-transform: uppercase;
  padding: 10px 30px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  display: block;
}

/* ############################## */
/* ########### Header ########### */
/* ############################## */
.site-header {
  background-color: black;
  border-bottom:#f2ff00 solid 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.site-header h1 {
  color: #f2ff00;
}

.main-nav ul{
  color: white;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  gap: 20px;
  font-family: 'Lato', sans-serif;
}

.main-nav li {
  padding-left: 10px;
}

.main-nav-featured {
  font-family: oswald;
}

.main-nav-name {
  font-family: Merriweather;
}


/* ###################################### */
/* ########### Second section ########### */
/* ###################################### */

.secondary-text p {
  font-size: 25px;
  background: #adadad;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-family: 'Lato', sans-serif;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  border-bottom: #f2ff00 solid 2px;
}


/* #################################### */
/* ########### Hero section ########### */
/* #################################### */

.hero-area {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Lato', sans-serif;
  min-height: 80%;
}

.hero-area h2 {
  font-weight: bold;
}

.inset-div {
  background-color: rgba(255,255,255,0.9) ;
  padding: 30px;
  width: 375px;
  height: 250px;
  margin: 30px 30px 30px 0;
}

.main-cta {
  background-color: #f2ff00;
  border-bottom: #ffd900 solid 2px;
}


/* ########################################## */
/* ########### Three-wide section ########### */
/* ########################################## */

.three-boxes {
  display: flex;
  justify-content: center;
}

.one-third {
  border-right: 1px solid lightgray;
  margin: 10px 0;
  padding: 2%;
  font-family: Merriweather;
}

.one-third .cta {
  background-color: #adadad;
  border-bottom: 2px solid #878787;
}


/* ############################## */
/* ########### Footer ########### */
/* ############################## */
.footer-site {
  background-color: black;
  color: white;
  text-align: left;
  padding: 10px 20px 10px 20px;
  font-size: 14px;
  text-transform:capitalize;
  font-family: lato;
}